# Project specific files
everquest_weapons.csv
item_cache.sqlite
*.csv
*.log
*.sqlite
*.db
*.cfg

# IDE settings
.vscode/
*.code-workspace
.idea/

# System files
.DS_Store
Thumbs.db
/.venv/Lib
/.venv/Scripts